.calculation {
    background-color: rgb(211, 200, 200);
    padding: 1rem;
    border-radius: 10px;
}

img {
    min-width: 450px;
    border-radius: 10px;
}

.form {
    min-width: 450px;
}

.form input {
    width: 200px;
}